{
  "parser": "@babel/eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "app": "writable",
    "base_dir": "writable",
    "conf_file": "writable",
    "ActiveXObject": "writable",
    "Power4": "writable",
    "Linear": "writable"
  },
  "rules": {
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "no-mixed-spaces-and-tabs": "warn",
    "react/no-string-refs": "warn",
    "react/no-deprecated": "warn",
    "react/no-direct-mutation-state": "warn",
    "no-empty": "warn",
    "no-self-assign": "warn"
  }
}
