.container {
    max-width: 1230px;
    margin: 0 auto;
    position: relative;
    margin-top: 0;
    padding: 0 30px;
}

.left {
    float: left;
}
.right {
    float: right;
}

* {
    margin: 0;
}
html,
body {
    height: 100%;
    // overflow:hidden;
}
#root {
    min-height: 100vh;
    min-width: 300px;
    width: 100%;
    position: absolute;
}
#main_content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-height: 100vh;
}
