.container {
	max-width:1230px;
	margin:0 auto;
	position:relative;
	margin-top:0;
	padding:0 30px;
}

.left {
	float: left;
}
.right {
	float: right;
}

* {
  margin: 0;
}
html, body {
  height: 100%;  
  // overflow:hidden;
}
#root {
	height:100%;
}
#main_content{
	padding-top:90px;
	padding-bottom:45px;
	//overflow:scroll;
	min-height:100%;
	// overflow:hidden;

  .btnWrapper {
    position: absolute;
    top: 100px;
    left: 40%;
    display: flex;
    .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      display: block;
      margin-bottom: 10px;

      &.btnRed {
        background-color: #801916;
        margin-right: 10px;
      }

      &.btnBlue {
        background-color: #080879;
      }
    }
  }
}