////////////////////////////////////////////////////////////////////// IMPORT THE FONTS RIGHT AT START OF CSS
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

////////////////////////////////////////////////////////////////////// VARIABLES & MIXINS
@import 'variables';
@import 'mixins';

//////////////////////////////////////////////////////////////////////  NORMALIZE - FOR IMPORVED CROSS-BROWSER RENDERING
@import 'normalize';

////////////////////////////////////////////////////////////////////// LAYOUT
@import 'layout';

////////////////////////////////////////////////////////////////////// SITEWIDE STYLES
html,body {
	font-family: $bodyFont;
	background-color: $colorPrimary;
	// background-image: url(../../static/images/team-coach-bg.jpg);
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-attachment:fixed;
	// width:100%;
	// height:100%;
	position: relative;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

// add selectors here and they will perform subtle animation on resize
header, img.active, #simple_popup a.close {
	@include transition(.3s ease-in-out)
}
.no-interfere {
	@include transition(none)
}
a {
	text-decoration: none;
	cursor:pointer;
}

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:50px;
	left:0;
	background:rgba(0,0,0,.5);
	z-index:1;
	display:none;
	//@include transition(all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275));
}
#overlay.show{
	display:block;
	//@include transition(all 400ms cubic-bezier(0.175, 0.885, 0.320, 1.275));
}

////////////////////////////////////////////////////////////////////// MAIN CONTENT
@import 'main_content';

////////////////////////////////////////////////////////////////////// HEADER
@import 'header';

////////////////////////////////////////////////////////////////////// MAIN CONTENT
section#main_content {
	position: relative;
	height:100%;
}

////////////////////////////////////////////////////////////////////// FOOTER
@import 'footer';

////////////////////////////////////////////////////////////////////// SIMPLE PAGE POPUP (TERMS, PRIVACY, CONTACT)
@import 'simple_popup';

////////////////////////////////////////////////////////////////////// GAME
@import 'ttt';

////////////////////////////////////////////////////////////////////// CHAT
@import 'chat';

