section#TTT_game{

	.input_holder{
		width:50%;
		//color:#959595;
		margin-bottom: 25px;

		&.message {
			width: 100%;
			margin-bottom: 0;
		}

		label {
			@include font-size(16px);
			display: block;
			margin-bottom: 11px;
			width: 100%;
			font-weight: 300;

			span.required {
				display: none;
			}
		}

		.input {
			@include textInput(90%);
			border: 1px solid #ebe6f1;
		}
		.input.password{
			@include textInput(90%);
			border: 1px solid #ebe6f1;
		}
		.input.textarea {
			@include textInput(95%);
			border: 1px solid #ebe6f1;
			height: 100px;
			line-height:1.5em;
			padding-top:10px;
		}

		&.select_option select{
			border-radius: 7px;
		  border:none;
		  padding:0 18px;
		  height: 46px;
		  background:#fff;
		  border: 1px solid #ebe6f1;
		  box-shadow:0px 4px 0px 0px #ebe6f1;
		  color: #888888;
		  font-style: italic;
		  @include font-size(18px);
		  font-weight: 300;
			width: 90%;
		}
		&.error {
			label{
				.required {
					display: inline;
					color:$colorSecondary;
				}
			}
			.input {
					@include textInput(90%);
					border: 1px solid $colorSecondary;
					color: $colorSecondary;
			}
			.input.textarea {
					@include textInput(95%);
					border: 1px solid $colorSecondary;
					height: 100px;
					line-height:1.5em;
					padding-top:10px;
			}				
			::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    $colorSecondary;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    $colorSecondary;
			   opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    $colorSecondary;
			   opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    $colorSecondary;
			}
			:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			  color:    $colorSecondary;
			}							
		}

		&.select_option.error select{
		  border: 1px solid $colorSecondary;
		  //box-shadow:0px 4px 0px 0px $colorSecondary;
		  color: $colorSecondary;
		}			
	}

	.button {
		@include button(179px,50px,4px,$colorSecondary,$colorSecondaryDark,#fff);
		font-family: $hdrFont;
		@include font-size(18px);
		margin-top:24px;

		&.long {
			width: 300px;
		}

		&.mr {
			margin-right: 15px;
		}
	}

	#board_size_selector {
    
    label {
			@include font-size(18px);
			font-weight: bold;
		}

		select {
			border: 1px solid #ebe6f1;
			padding: 5px 15px;
			@include font-size(18px);
			
		}
	}



	#game_stat {
		background: #eee;
		margin: 10px;
		width: 300px;
		height: 90px;
		vertical-align: middle;
		text-align: center;
		padding-top: 10px;
		font-family: $hdrFont;

		#game_stat_msg {
			@include font-size(28px);
		}

		#game_turn_msg {
			padding-top: 5px;
			@include font-size(22px);
		}
	}
  
	#game_board {
			// padding: 10px;

		table {
			background: #fff;
			margin: 10px;
		}

		td {
			width: 130px;
			height: 130px;
		
			vertical-align: middle;
			text-align: center;

			&:hover{
				background: #ff0;
			}

			&.win {
				background: #f00;
			}
		}

		.vbrd {
			border-left: 7px solid #000;
			border-right: 7px solid #000;
		}

		.hbrd {
			border-top: 7px solid #000;
			border-bottom: 7px solid #000;
		}
	}

	#dynamic_game_board {
		width: 100%;
		max-width: 450px;
		display: grid;
		margin-bottom: 15px;
	
		.cell {
			border: 3px solid #000;
			border-collapse: collapse;
		  display: flex;
			aspect-ratio: 1/1;
			background: #fff;
			align-items: center;
			justify-content: center;

			&:hover {
				background: #ff0;
			}

			&.win {
				background: #f00;
			}
		}

		
		
	}

	#scoreboard {
		padding: 5px;
		background: #eee;	
		margin: 10px;
		width: 100%;
		max-width: 300px;
		vertical-align: middle;
		text-align: center;
		
    @media (max-width: 768px) {
		  
			 margin: 0 auto;

		}

		h3 {
			font-weight: bold;
			margin-bottom: 15px;
		}
    

    #scoreboard_table {
			display:block;
			text-align: left;

			.score_row {
				width: 100%;
				display:flex;
				justify-content: start;
				align-items: start;
				
        .player_name {
					font-weight: normal;
					flex: 1;
					margin-right: 15px;
					text-align:right;
				}

				.player_score {
					font-weight: bold;
					flex: 1;
					text-align:left;
				}

			}
		}

	}

}